{% extends 'spotify/base.html' %}

{% block content %}
    <div class="container">
        <h2>Recently Played</h2>
        <br>
        <div class="content">
            <table class="table">
                <tr>
                    <th>Track</th>
                    <th>Artists</th>
                    <th>Length</th>
                    <th style="text-align: right">Played</th>
                </tr>

                {% for play in recently_played %}
                    <tr>
                        <td><a href={% url 'track' play.track.id %}>{{ play.track.name }}</a></td>
                        <td>
                            {% for artist in play.artists %}
                                <a href={% url 'artist' artist.id %}>{{ artist.name }}</a>
                            {% endfor %}
                        </td>
                        <td>{{ play.length }}</td>
                        <td style="text-align: right">{{ play.played_at }}</td>
                    </tr>

                {% endfor %}
            </table>
            <br>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-sm">
                    <h3>Top Tracks</h3>
                    <br>
                    <table class="table">
                        <tr>
                            <th>Track</th>
                            <th style="text-align:right">Plays</th>
                        </tr>

                        {% for track in sorted_tracks %}
                            <tr>
                                <td><a href={% url 'track' track.0.id %}>{{ track.0 }}</a></td>
                                <td style="text-align:right">{{ track.1 }}</td>
                            </tr>
                            </div>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-sm">
                    <h3>Top Artists</h3>
                    <br>
                    <table class="table">
                        <tr>
                            <th>Artists</th>
                            <th style="text-align:right">Plays</th>
                        </tr>

                        {% for artist in sorted_artists %}
                            <tr>
                                <td><a href={% url 'artist' artist.0.id %}>{{ artist.0 }}</a></td>
                                <td style="text-align:right">{{ artist.1 }}</td>
                            </tr>
                            </div>
                        {% endfor %}
                    </table>
                </div>

                <div class="col-sm">
                    <h3>Top Genres</h3>
                    <br>
                    <table class="table">
                        <tr>
                            <th>Genre</th>
                            <th style="text-align:right">Weight</th>
                        </tr>

                        {% for genre in sorted_genres %}
                            <tr>
                                <td><a href={% url 'genre' genre.0.id %}>{{ genre.0 }}</a></td>
                                <td style="text-align:right">{{ genre.1 }}</td>
                            </tr>
                            </div>
                        {% endfor %}
                    </table>
                </div>


            </div>
        </div>
{% endblock %}
