{% extends "spotify_test/base.html" %}
{% block content %}

<div class="content">
    <table class="table">
        <tr>
           <th>Track</th>
           <th>Artist</th>
           <th>Time</th>
           <th></th>
        </tr>

        {% for d in data %}
        <tr>
            <td>{{ d.track }}</td>
            <td>{{ d.artist }}</td>
            <td>{{ d.played_ts }}</td>
        </tr>

{% endfor %}

{% endblock %}
