{% extends 'lit/base.html' %}

{% block content %}

    <div class="row d-flex justify-content-center">
        <div>
            <div class="p-4" style="background-color: rgba(86,61,124,0.15)">
                {% for book in bibliography %}
                    {{ book }}<br>
                {% endfor %}
            </div>
        </div>
    </div>

    <br>

    <div class="form">
        <form id="update_bibliography" action="{% url "bibliography" %}" method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-center">

            <!-- make sure the right option is preselected to avoid confusion -->
                <select class="custom-select col-1 mx-2" form="update_bibliography" name="citation">
                    {% if cite == 'APA' %}
                        <option selected value="APA">APA</option>
                    {% else %}
                        <option value="APA">APA</option>
                    {% endif %}

                    {% if cite == 'IEEE' %}
                        <option selected value="IEEE">IEEE</option>
                    {% else %}
                        <option value="IEEE">IEEE</option>
                    {% endif %}

                    {% if cite == 'MLA' %}
                        <option selected value="MLA">MLA</option>
                    {% else %}
                        <option value="MLA">MLA</option>
                    {% endif %}
                </select>

                <input class="btn btn-primary col-2 mx-2" type="submit" value="Change Citation Style">
            </div>
        </form>
    </div>

{% endblock %}
