{% extends 'lit/base.html' %}

{% block content %}

    <div class="container">

        <!-- Differentiate the form (add/edit) depending on whether it is caled with an book id or not -->
        {% if book.id %}
            <form class="form" action="{% url 'update_book_in_library' %}" method="post">
                <input type="hidden" name="id" value="{{book.id}}">
        {% else %}
            <form class="form" action="{% url 'add_book_to_library' %}" method="post">
        {% endif %}

        {% csrf_token %}

        <div class="form-group row">
            <label class="col col-form-label text-right"><b>TITLE</b></label>
            <div class="col-10">
                <input type="text" name="title" class="form-control" placeholder="Enter Title" value="{{ book.title }}" required>
            </div>
        </div>

        <div id="authors">
            <div class="form-group row">
                <label class="col col-form-label text-right"><b>AUTHOR</b></label>
                <div class="col-3">
                    <input type="text" name="author_surname" class="form-control" placeholder="Enter Surname" value="{{ book.author.surname }}" required>
                </div>
                <div class="col-4">
                    <input type="text" name="author_firstnames" class="form-control" placeholder="Enter Firstname(s)" value="{{ book.author.firstnames }}" required>
                </div>
                <div class="col-3">
                    <input type="text" name="author_initials" class="form-control" placeholder="Enter Initials" value="{{ book.author.initials }}" required>
                </div>
            </div>

            {% for author in book.additional_authors %}
                <div class="form-group row">
                    <label class="col col-form-label text-right">ADD. AUTHOR</label>
                    <div class="col-3">
                        <input type="text" name="additional_authors_surname" class="form-control" placeholder="Enter Surname" value="{{ author.surname }}">
                    </div>
                    <div class="col-4">
                        <input type="text" name="additional_authors_firstnames" class="form-control" placeholder="Enter Firstname(s)" value="{{ author.firstnames }}">
                    </div>
                    <div class="col-3">
                        <input type="text" name="additional_authors_initials" class="form-control" placeholder="Enter Initials" value="{{ author.initials }}">
                    </div>
                </div>
            {% endfor %}

            <!-- hidden field to be copied when adding authors -->
            <div class="form-group row" id="additional_author_field" style="display: none">
                <label class="col col-form-label text-right">ADD. AUTHOR</label>
                <div class="col-3">
                    <input type="text" name="additional_authors_surname" class="form-control" placeholder="Enter Surname">
                </div>
                <div class="col-4">
                    <input type="text" name="additional_authors_firstnames" class="form-control" placeholder="Enter Firstname(s)">
                </div>
                <div class="col-3">
                    <input type="text" name="additional_authors_initials" class="form-control" placeholder="Enter Initials">
                </div>
            </div>
        </div>

        <!-- Add warning if there are autogenerated surname/initials -->
        <div class="form-group row">
            <button id="add_author" type="button" class="col-2 form-control btn btn-secondary">Add Author</button>
            {% if book.author.surname  %}
                    <small class="col form-text text-muted text-center">
                        Please check the automatic surname / firstnames / initials as they can be prone to errors. 
                     </small>
           {% endif %}
        </div>


            <div class="form-group row">
                <label class="col col-form-label text-right"><b>PUBLISHER</b></label>
                <div class="col-6">
                    <input type="text" name="publisher" class="form-control" placeholder="Enter Publisher" value="{{ book.publisher }}" required>
                </div>
                <label class="col-1 col-form-label text-right"><b>EDITION</b></label>
                <div class="col-3">
                    <input type="text" name="edition" class="form-control" placeholder="Enter Edition" value="{{ book.edition }}" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col col-form-label text-right"><b>PLACE</b></label>
                <div class="col-6">
                    <input type="text" name="place" class="form-control" placeholder="Enter Place of Publication" value="{{ book.place }}" required>
                </div>
                <label class="col-1 col-form-label text-right"><b>YEAR</b></label>
                <div class="col-3">
                    <input type="text" name="year" class="form-control" placeholder="Enter Year of Publication" value="{{book.year}}" required>
                </div>
            </div>


            <div class="form-group row">
                <label class="col col-form-label text-right">ISBN</label>
                <div class="col-10">
                    <input type="text" name="isbn" class="form-control" placeholder="Enter ISBN" value="{{ book.isbn }}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col col-form-label text-right">DOI</label>
                <div class="col-10">
                    <input type="text" name="doi" class="form-control" placeholder="Enter DOI">
                </div>
            </div>
            {% if book.id %}
            <input type="submit" value="Update Book" class="btn btn-primary float-right">
            {% else %}
            <input type="submit" value="Add to Library" class="btn btn-primary float-right">
            {% endif %}
        </form>

    </div>

    <!-- let the user add additional authors -->
    <script>
        var empty_author_field;
        document.getElementById("add_author").onclick = function() {
            var container = document.getElementById("authors");
            // the first "add author" saves the div into a variable and unhides it
            if (!empty_author_field) {
                additional_author_field = document.getElementById("additional_author_field");
                additional_author_field.style.display = "";
                empty_author_field = additional_author_field.cloneNode(true);
            } else {
                container.appendChild(empty_author_field.cloneNode(true));
            }
        }
    </script>
{% endblock %}
