{% extends 'lit/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-4-sm">
                <a href={{ links.site }}><img class="img-fluid" src={{ links.cover }}></a>
            </div>

            <div class="col-sm">
                <table class="table">
                    <tr>
                        <td><b>Title</b></td>
                        <td>{{ book.title }}</td>
                    </tr>

                    <tr>
                        <td><b>Authors</b></td>
                        <td>
                            {{ book.author.firstnames }} {{ book.author.surname }}
                            <br>
                            {% for author in book.additional_authors.all %}
                                {{ author.firstnames }} {{ author.surname }}
                                <br>
                            {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td><b>Publisher</b></td>
                        <td>{{book.publisher}}</td>
                    </tr>
                    <tr>
                        <td><b>Edition</b></td>
                        <td>{{book.edition}}</td>
                    </tr>
                    <tr>
                        <td><b>Place</b></td>
                        <td>{{book.place}}</td>
                    </tr>
                    <tr>
                        <td><b>Year</b></td>
                        <td>{{book.year}}</td>
                    </tr>
                    <tr>
                        <td><b>ISBN</b></td>
                        <td>{{ book.isbn }}</td>
                    </tr>
                    <tr>
                        <td><b>DOI</b></td>
                        <td>{{ book.doi }}</td>
                    </tr>
                    <tr>
                        <td><b>APA</b></td>
                        <td>{{ citation_apa }}</td>
                    </tr>
                    <tr>
                        <td><b>IEEE</b></td>
                        <td>{{ citation_ieee }}</td>
                    </tr>
                    <tr>
                        <td><b>MLA</b></td>
                        <td>{{ citation_mla }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a class="btn btn-warning btn mx-2" role="button" href="{% url 'edit_book' book.id %}">Edit Book</a>
                            <a class="btn btn-danger btn mx-2" role="button" href="{% url 'delete_book' book.id %}">Delete Book</a>

                            <!-- only add link if it was validated -->
                            {% if openlibrary %}
                                <a class="btn btn-success btn mx-2" role="button" href="{{ links.site }}">OpenLibrary.org</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
