{% extends "shopping_list/base.html" %}
{% block content %}

<div class="content">
    <table class="table">
        <tr>
            <th>Liste</th>
            <th></th>
        </tr>

        {% for l in all_lists %}
        <tr>
            <td><a href="{% url 'shopping_list:list' l.id %}"> {{ l.shopping_list_name }}</a></td>
            <td>
                <form style="text-align:right" action="{% url 'shopping_list:delete_list' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{ l.id }}>
                    <input type="submit" value="Löschen" class="btn btn-primary">
                </form>
            </td>
        </tr>
        {% endfor %}

    </table>

    <form class="form-row" action="{% url 'shopping_list:new_list' %}" method="post">
        {% csrf_token %}
        <div class="form-group col-md-5">
            <input type="text" name="new_shopping_list_name" class="form-control" placeholder="Neue Liste">
        </div>
        <div class="form-group col-md-1">
            <input type="submit" value="Hinzufügen" class="btn btn-primary">
        </div>
    </form>

</div>

<br></br>

<div class="content">
    <table class="table">
        <tr>
            <th>Laden</th>
            <th>Öffnungszeiten</th>
            <th></th>
        </tr>

        {% for s in all_shops %}
        <tr>
            <td> <a href="{% url 'shopping_list:shop' s.id %}">{{ s.shop_name }}</a></td>
            <td>{{ s.shop_open_time }}</td>
            <td>
                <form style="text-align:right" action="{% url 'shopping_list:delete_shop' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value={{ s.id }}>
                    <input type="submit" value="Löschen" class="btn btn-primary">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form class="form-row" action="{% url 'shopping_list:new_shop' %}" method="post">
        {% csrf_token %}
        <div class="form-group col-md-5">
            <input type="text" name="new_shop_name" class="form-control" placeholder="Neuer Shop">
        </div>
        <div class="form-group col-md-5">
            <input type="text" name="new_shop_open_time" class="form-control" placeholder="Öffnungszeit">
        </div>
        <div class="form-group col-md-1">
            <input type="submit" value="Hinzufügen" class="btn btn-primary">
        </div>
    </form>
</div>

{% endblock %}
