<!DOCTYPE html>
<html>

<head>
    <title>ESCAPE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <style>
        html,
        body,
        pre,
        code,
        kbd,
        samp {
            font-family: "Press Start 2P";
        }

        td.pad-right {
            padding-right: 20px;
        }

        div.main-container {
            width: 960px;
            margin: auto;
            padding: 20px;

        }

        div.margin {
            margin: 25px 0px 25px 0px;
        }

    </style>
</head>


<body>
    <div class="main-container">
        <div class="nes-container margin is-centered">
            <a href="{% url 'index' %}" style="color: #000000; text-decoration: none">
                <h3>ESCAPE</h3>
            </a>
        </div>
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>
